{% extends 'base_layout.html' %}


{% block content %}
       
       {% block updateArticle %}
       {% endblock %}

       <div class="article-detail">           
           <div class="article"> 
                <img src="{{ article.thumb.url }}"/>
                <h2>{{ article.title }}</h2>
                <p>{{ article.body }}</p>
                <p>{{ article.date }}</p>
                <p>
                  <div class="download-a">
                      <a href=" {{article.document.url}}" target="_blank"> Download Attachment !</a> 
                  </div>

                </p>
                {% if user.is_authenticated %}
                	{% if request.user == article.author %}
                	  <div class="Update-a">
                        <a  href="{% url 'ArticlesApp:update' slug=article.slug %}"> &nbsp;Update !!&nbsp; </a>
                    </div>
                    <form class="delete-form" action="{% url 'ArticlesApp:delete' article.pk %}" method="post" >
				          		{% csrf_token %}
    			       			<input type="submit" value="Delete !!!">
    					      </form>
                  {% endif %}
                {% endif %}
           </div>
       </div>

       
{% endblock %}